<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="../public/css/estiloConfig.css">

	<div class="" id="painel-meio">
		<div class="panel panel-default">
			<div class="panel-heading"> 
				<h1>Configurações</h1>                               
			</div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="col-xs-12 preench">
						<div class="col-xs-12 preench">
							<h3><small>Redefinir senha</small></h3>
							<input class="transp" type="password"  autofocus="" id="newPassword">

							<h3><small>Confirmar senha</small></h3>
							<input class="transp" type="password" id="confirmPassword">
						</div>
					</div>

					<h3><small>Habilitar Animações </small></h3>
					<div class="switch pull-right">
						<input id="ativado" name="someSwitchOption001" type="checkbox">
						<label for="ativado" class="label-success"></label>
					</div>
					<br>
					<h3><small>Deseja excluir a conta?</small></h3>
					<button type="submit-delete" class="btn btn-primaryWarning pull-right" id="excluirCnt">Excluir Conta</button>
				</div>

				<div class= "col-xs-12">
					<button type="submit" class="btn btn-primaryGreen" id="confirmaConfig">Confirmar Alterações</button>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src= "../public/js/configuracoes.js"></script>
	
</html>

<!-- 

	
	Configurações devem conter:
x Troca de nome de usuário
x Troca de Senha
x Opção para excluir conta
x Opção para desativar animações


-->