<!DOCTYPE html>
<html>


<link rel="stylesheet" type="text/css" href="../public/css/estilo3.css">
<div  id="painel-meio">
	<div class="panel panel-default">
		<div class="panel-heading"> 
			<h1>Jogos</h1>                               
		</div>
		<div class="panel-body">
			<div class="col-xs-12" id="dentro">
					
					<div style="    margin-top: 67px;
								    color: white;
								    margin-bottom: 4px;
								    position: absolute;">

						<label for='selecao-arquivo'>Selecionar um arquivo &#187;</label>
						<!-- <input id='selecao-arquivo' type='file'> -->
		
					</div>
			</div>			
			<div class= "col-xs-12">
				<button style="margin-left: 10px;"onclick="fechar()" class="btn btn-primaryGreen" value="Fechar">Fechar</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src= "../public/js/user.js"></script>
<style type="text/css">

#statusUser{

    position: absolute;
    
    margin-left: 100px;
        margin-top: -10px;
    color: white;

}
</style>

</html>