<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Concord</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../public/css/nivo-lightbox.css" rel="stylesheet" />
	<link href="../public/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="../public/css/style.css" rel="stylesheet">
	<link href="../public/color/default.css" rel="stylesheet">

</head>

<body data-spy="scroll" style="background-color: rgb(30,32,36) ">

<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li>
									<a href="#about" class="gn-icon gn-icon-download">Sobre</a>
								</li>
								<li><a href="#service" class="gn-icon gn-icon-cog">Serviços</a></li>
								<li>
									<a href="#contact" class="gn-icon gn-icon-archive">Contato</a>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="principal" style="border-left: 1px solid #2E8B57;">
						<img class="img-size" alt="Brand" src="../public/img/logowhite.png">
					</a></li>
				<li class="hidden-xs">
                    <ul class="company-social">
                  			
	                        <a href="/login" style="font-size: 20px;font-weight:600;margin-right: 30px;">
	                        Entrar&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
                       		
                    </ul>	
                </li>
			</ul>
	</div>

	<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="slogan">
			<h1>Concord</h1>
			<p>Quer ser feliz? Use nosso App!</p>
			<a href="#about" class="btn btn-skin scroll">Leia mais</a>
		</div>	
    </section>
	<!-- /Section: intro -->

	<!-- Section: about -->
    <section id="about" class="home-section text-center bg-gray" style="background-color: #2E8B57">
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading" style="color: white;">
					<h2>Sobre nós</h2>
					<p>O Concord é uma aplicação web de troca de mensagens onde você pode conseguir novas amizades, jogar jogos, competir no ranking de pontuação com seus amigos e acessar a nossa loja personalizada, onde encontrará vários jogos legais.
					<br>Esta aplicação foi desonvolvida por um grupo de quatro estudantes que colocaram em prática tudo o que aprenderam durante o curso de Programação Web.</p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Matheus Cavalcante</h5>
                        <p class="subtitle">Desenvolvedor / DBA</p>
                        <div class="avatar"><img src="../public/img/team/1.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Rodrigo Rodrigues</h5>
                        <p class="subtitle">Desenvolvedor full stack</p>
                        <div class="avatar"><img src="../public/img/team/2.jpg" alt="" class="img-responsive" /></div>
                    </div>

				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Victor Ferreira</h5>
                        <p class="subtitle">Gerente de Projeto</p>
                        <div class="avatar"><img src="../public/img/team/3.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		
                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Pedro Rafael</h5>
                        <p class="subtitle">Documentador</p>
                        <div class="avatar"><img src="../public/img/team/4.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>
	
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: about -->
	
	
	<!-- Section: services -->
    <section id="service" class="home-section text-center" style="color: white;">
		
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<h2>Nossos serviços</h2>
					<p>Para garantir uma boa qualidade no nosso produto, utilizamos as mais modernas tecnologias existentes no mercado para fazer o seu dia melhor sempre!</p>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
			
                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-code fa-3x"></i>
					</div>
					<div class="service-desc">
						<h5>Codificação</h5>
						<p>Node.js é uma tecnologia que permite uma interação ampla entre você e os nossos servidores. Escolhemos ele para garantir que você usará nosso app em qualquer lugar</p>
					</div>
                </div>
	
            </div>
			<div class="col-sm-3 col-md-3">
	
                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-suitcase fa-3x"></i>
					</div>
					<div class="service-desc">
						<h5>Jogos</h5>
						<p>O Concord já conta com um jogo desenvolvido pela nossa própria equipe, cadastrando-se, você pode jogar e competir gratuitamente</p>
					</div>
                </div>

            </div>
			<div class="col-sm-3 col-md-3">

                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-cog fa-3x"></i>
					</div>
					<div class="service-icon">
						<h5>Loja</h5>
						<p>Temos uma loja virtual, onde você pode acessar para comprar jogos variados</p>
					</div>
                </div>
			
            </div>
			<div class="col-sm-3 col-md-3">
	
                <div class="service-box">
					<div class="service-icon">
						<i class="fa fa-rocket fa-3x"></i>
					</div>
					<div class="service-desc">
						<h5>Perfomance</h5>
						<p>Desenvolvemos nossa aplicação para que você possa usufruir sem ter dores de cabeça</p>
					</div>
                </div>
			
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: services -->


	<!-- Section: contact -->
    <section id="contact" class="home-section text-center" style="color: white;">
		<div class="heading-contact marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
	
					<div class="section-heading">
					<h2>Entre em contato</h2>
					<p>Dúvidas? Você pode tirá-las através de nossos canais de atendimento!</p>
					</div>
				
				</div>
			</div>
			</div>
		</div>
		<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-offset-2">


            	
			
			<div class="widget-contact row">
				 <div class="col-lg-6">

				<address>
				  	<strong>Email</strong><br>
					<a href="mailto:contato.concordapp@gmail.com" style="font-size:large; font-weight: 500;">contato.concordapp@gmail.com</a><br />
				</address>
				</div>

				<div class="col-lg-6">

					<address>

						<strong>Concord Ltd.</strong><br>
					 	Goiânia R.Samambaia, Universidade Federal de Goiás<br>
					  	Goiás, CEP 74690-900<br>
					  	<abbr title="Telefone para contato">Tel.:</abbr> +55 (62) 9 8332-0252
						  
					</address>	
				
			
				</div>
				

			</div>	
        </div>

    </div>	

		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>&copy; Concord </p>
                    <div class="credits">
                   
                        <a href="/">Quer ser feliz? Use o nosso App ;-)</a> by <a href="/">Concord</a>
                    </div>
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.easing.min.js"></script>	
	<script src="../public/js/classie.js"></script>
	<script src="../public/js/gnmenu.js"></script>
	<script src="../public/js/jquery.scrollTo.js"></script>
	<script src="../public/js/nivo-lightbox.min.js"></script>
	<script src="../public/js/stellar.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../public/js/custom.js"></script>
    
</body>

</html>
